@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<TeamMember>
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">
        DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables documentation</a>.
    </p>
    <a asp-action="Create" class="btn btn-success btn-circle btn-lg">
        <i class="fas fa-check"></i>
    </a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>FullName</th>
                            <th>Position</th>
                            <th>Delete Action</th>
                            <th>Edit Action</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (TeamMember item in Model)
                        {
                            <tr>

                                <td><img src="~/assets/images/@item.Image" style="width:100px;height:100px" /></td>
                                <td>@item.FullName</td>
                                <td>@item.Position</td>
                                <td>
                                    <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                                        <button type="submit" class="btn btn-danger btn-circle btn-lg">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-circle btn-lg">
                                        <i class="fas fa-info-circle"></i>
                                    </a>
                                </td>
                               

                            </tr>
                        }
                        </tbody>
                </table>
                @Html.PagedListPager((IPagedList)Model , page => Url.Action("Index", new {page}))
            </div>
        </div>
    </div>

